<!DOCTYPE html>
<html>
<head>
   <title>Mail Result</title>
</head>
<body>
   <h1>Mail Result</h1>
   <p>You Selected "<%= mailType  %>"</p>
   <p>The Weight was: <%= weight %></p>
   <p>Total Cost: $<%= cost %></p>
</body>
</html>